.header {
    background-color: black;
    height: 30px;
    width: auto;
}

.main-content {
    height: 700px;
    width: auto;
    background-image: linear-gradient(to bottom, #ff5858b8, #ff8754c2, #ffaf5fbf, #ffd279bd, #fff59fbb);
    display: flex;
    justify-content: center;

}

.main-content > .party-svg {
    margin-left: 150px;
    position: absolute;
   bottom: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    right: 100px;
}
